

*, *:before, *:after {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: #27292c;


}

#root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    height: 100%;
   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    font-size: 1.2em;
    padding: 1.5em 1em;
}

.nav{
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;

}
.nav-span{
    font-size: 1.5em;
    font-weight: bold;
    color: #61DAFB;
}

.logo{
    width: 55px;
}

main > h1 {
    margin: 1em 0;
    font-size: 1.8rem;
}

main{
    position: relative;
    padding: 10px 25px;
    background-color: #282D35;
    z-index: 0;
    overflow-x: hidden;
    color: white;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./react-logo.png)  center no-repeat;
    opacity: 0.1;
    transform: translateX(50%);
    z-index: -1;
    background-size: 400px;
}

.main-list-item{
    margin-bottom: 0.6em;
    font-size: 1.1rem;
    line-height: 1.5;
}
.main-list-item::marker{
    color: #61DAFB;
    font-size: 1.5rem
}